<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Fonts -->
    <link rel="stylesheet" href="/css/styles.css"> <!-- CSS -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"> <!-- League of Legends Favicon -->
    <title>League of Legends Champion Index</title>
</head>
<header>
    <h1>League of Legends Champion Index</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/champions">Champions</a>
        <a href="/add-favorite">Add Favorite</a>
        <a href="/favorites">Favorites</a>
    </nav>
</header>
