<%- include('./partials/header') %>
<main>
    <h2>Welcome to the League of Legends Champion Index</h2>
    <p>Explore champion data, add your favorites, and view them anytime.</p>
</main>
<%- include('./partials/footer') %>
